<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

   <!-- <mat-nav-list>
      <a mat-list-item aria-current="page" [routerLink]="'form'">Publikation erstellen</a>
      <a mat-list-item [routerLink]="'pubBl'">Autor:innen aus Berlin</a>
      <a mat-list-item [routerLink]="'pubYear'">Publikationen im Jahr</a>
    </mat-nav-list>-->

    <mat-nav-list role="navigation">
      <a mat-list-item  [routerLink]="''" (keydown)="onKeydown($event)" navItem>
        Menu
      </a>
      <a mat-list-item  [routerLink]="'form'" (keydown)="onKeydown($event)" navItem>
        Publikation erstellen
      </a>
      <a mat-list-item  [routerLink]="'pubBl'" (keydown)="onKeydown($event)" navItem>
        Autor:innen aus Berlin
      </a>
      <a mat-list-item  [routerLink]="'pubYear'" (keydown)="onKeydown($event)" navItem>
        Publikationen im Jahr
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="#eee">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="titelbar">
        <img src="assets/images/renate_logo.png" alt="Eichhörnchen-Icon: Das Logo des Repositorys ReNaTe" class="logo-image"/>
        Publikationen
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

