<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list appNavListKeyManager role="navigation">
        @for (item of navItems; track item) {
          @if (item.fokus) {  <a
              mat-list-item
              appListItemFocusable
              [routerLink]="[item.route]"
              routerLinkActive
              [routerLinkActiveOptions]="{ exact: true }"
              #rla="routerLinkActive"
              [activated]="rla.isActive"
              class="mat-focus-indicator"
              [attr.aria-label]="item.purpose"
              #navItem
            >
              <span matListItemTitle>{{ item.title }}</span>
            </a>
          }
          @if (!item.fokus) {
          <a
            mat-list-item
            appListItemFocusable
            [routerLink]="[item.route]"
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: true }"
            #rla="routerLinkActive"
            [activated]="rla.isActive"
            class="mat-focus-indicator"
          >
            <span matListItemTitle>{{ item.title }}</span>
          </a>
          }
        }
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content role="section">
    <mat-toolbar color="#eee" role = "banner">
      @if (isHandset$ | async) {
        <button
          class="menu-button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="titelbar">
        <img src="assets/images/renate_logo.png" alt="Eichhörnchen-Icon: Das Logo des Repositorys ReNaTe" class="logo-image"/>
        <p> Repositorium </p>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

