.sidenav-container {
  height: 100%;
}

.sidenav {
  width: fit-content; ;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-image {
  max-width: 7%;
  margin: auto 5%;
}

.titelbar{
  display: flex;
}

caption {
  font-size: 30px;
  line-height: 36px;
  color: #007ab0;
}

.mat-focus-indicator:focus, [cdkFocusInitial]:focus {
  outline: 3px solid;
  outline-offset: 2px;
}


.mat-focus-indicator:focus {
  outline: 3px solid;
  outline-offset: 2px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  transition: border-color 0.3s ease;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  border-color: black;
}

input.mat-input-element:focus {
  outline: 2px solid black;
}


.mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated .mdc-list-item__primary-text {
  color: #007F99;
}

.menu-button:focus {
  outline: 2px solid #007F99;
}
