<!--<form [formGroup]="addressForm" novalidate (ngSubmit)="submitModalOpen = !submitModalOpen">-->
<form [formGroup]="addressForm" novalidate>
<mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Erstelle eine neue Publikation. Fülle nachfolgende Felder aus. Alle Felder sind verpflichtend auszufüllen.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <mat-label>PPN (eindeutige Nummer des Werkes) </mat-label>
            <input type="text" id="ppnNo" matInput placeholder="PPN (eindeutige Nummer des Werkes)" formControlName="ppnNo" aria-describedby="ppnNo-error" >
            @if (addressForm.controls['ppnNo'].hasError('required')) {
              <mat-error id="ppnNo-error">Angabe der PPN Nummer ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Titel" formControlName="title" aria-describedby="title-error">
              @if (addressForm.controls['title'].hasError('required')) {
                <mat-error id="title-error">Angabe des Titels ist <strong>verpflichtend</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Autor:innen" formControlName="author" aria-describedby="author-error">
            @if (addressForm.controls['author'].hasError('required')) {
              <mat-error id="author-error">Angabe der Autor:in ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
          </div>
      <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput #yearofPublication maxlength="4" placeholder="Publikationsjahr" type="number" formControlName="yearofPublication" aria-describedby="year-error">
          @if (addressForm.controls['yearofPublication'].hasError('required')) {
            <mat-error id="year-error">Angabe des Publikationsjahr ist <strong>verpflichtend</strong></mat-error>
          }
        </mat-form-field>
      </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Publikationsort" formControlName="place" aria-describedby="place-error">
            @if (addressForm.controls['place'].hasError('required')) {
              <mat-error id="place-error">Angabe des Ortes ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
    <!--  <button mat-raised-button color="primary" type="submit">Einreichen</button>-->
      <button mat-raised-button color="primary" (click)="submitModalOpen = !submitModalOpen" class="submit">
        Einreichen
      </button>
    </mat-card-actions>
  </mat-card>
</form>
@if (submitModalOpen) {
  <tib-sumit-modal (modalClose)="submitModalOpen = false"></tib-sumit-modal>
}
