<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
<!--<form  [formGroup]="addressForm" novalidate>-->
<mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Erstellen Sie eine neue Publikation im Repositorium für Naturwissenschaften und Technik. Füllen Sie nachfolgende Felder aus. Alle Felder sind verpflichtend auszufüllen.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">

          <mat-form-field class="full-width" >
            <mat-label>PPN (eindeutige Nummer des Werkes) </mat-label>
            <input appAutoFocus type="text" id="ppnNo" matInput placeholder="PPN (eindeutige Nummer des Werkes)" formControlName="ppnNo"  class="mat-focus-indicator" autocomplete="PPN" >
            @if (addressForm.controls['ppnNo'].hasError('required')) {
              <mat-error >Angabe der PPN Nummer ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label> Titel </mat-label>
              <input type="text" matInput placeholder="Titel" formControlName="title"  class="mat-focus-indicator" autocomplete="title"  >
              @if (addressForm.controls['title'].hasError('required')) {
                <mat-error >Angabe des Titels ist <strong>verpflichtend</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <mat-label> Autor:innen </mat-label>
            <input type="text" matInput placeholder="Autor:innen" formControlName="author"  class="mat-focus-indicator"autocomplete="author" >
            @if (addressForm.controls['author'].hasError('required')) {
              <mat-error >Angabe der Autor:in ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
          </div>
      <div class="row">
      <div class="col">

        <mat-form-field class="full-width">
          <mat-label> Publikationsjahr </mat-label>
          <input matInput #yearofPublication maxlength="4" placeholder="Publikationsjahr" type="number" formControlName="yearofPublication" class="mat-focus-indicator" autocomplete="yearofPublication" >
          @if (addressForm.controls['yearofPublication'].hasError('required')) {
            <mat-error >Angabe des Publikationsjahr ist <strong>verpflichtend</strong></mat-error>
          }
        </mat-form-field>
      </div>
        <div class="col">

          <mat-form-field class="full-width">
            <mat-label> Publikationsort </mat-label>
            <input type="text" matInput placeholder="Publikationsort" formControlName="place"  class="mat-focus-indicator" autocomplete="place" >
            @if (addressForm.controls['place'].hasError('required')) {
              <mat-error >Angabe des Ortes ist <strong>verpflichtend</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" class="submit">Publikation einreichen</button>
  <!--    <button aria-label="Einreichung der Publikation abschließen" mat-raised-button  color="primary" (click)="submitModalOpen = !submitModalOpen" class="submit">
        Einreichen
      </button>-->
    </mat-card-actions>
  </mat-card>
</form>
<!--@if (submitModalOpen) {
  <tib-sumit-modal (modalClose)="submitModalOpen = false"></tib-sumit-modal>
}-->
