
<div>
  <h1 class="mat-display-1">Repositorium für Naturwissenschaften und Technik</h1>
  <mat-card>
  <img src="../../../assets/images/tib1.jpg" aria-label="Banner" alt="Eingang des modernen Gebäudes der Technischen Informationsbibliothek Hannover" class="full-width-img">
  </mat-card>
</div>
  <section #about id="about-repository">
  <h2 class="mat-display-2" tabindex="0">Was ist ein Repositorium? </h2>
  <p class="mat-body-1">Ein Repositorium ist eine Art digitales Regal für wissenschaftliche Arbeiten und Forschungsdaten.
    Es wird von Universitäten oder Bibliotheken betrieben und hilft dabei, diese Arbeiten für alle zugänglich zu machen, die sie lesen möchten.
    <br>Die wichtigsten Punkte sind:
</p>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Zugänglichkeit </span>
      <span matListItemLine>Arbeiten sind online verfügbar, sodass Menschen aus der ganzen Welt darauf zugreifen können.</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Langfristige Aufbewahrung </span>
      <span matListItemLine>Die Arbeiten werden sicher aufbewahrt und gehen nicht verloren.</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Einheitliche Struktur </span>
      <span matListItemLine>Durch eine einheitliche Struktur ist es einfacher, bestimmte Arbeiten zu finden.</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle> Freier Zugang </span>
      <span matListItemLine>Viele Repositorien erlauben den freien Zugriff auf die Arbeiten, was bedeutet, dass man nichts bezahlen muss, um sie zu lesen.</span>
    </mat-list-item>
  </mat-list>
  </section>
  <section id="about-TIB">
  <h2 class="mat-display-2" tabindex="0">Was ist das Repositorium für Naturwissenschaften und Technik (ReNaTe) der Technischen Informationsbibliothek? </h2>
  <p class="mat-body-1">Das Repositorium für Naturwissenschaften und Technik (ReNaTe) ist ein Ort, an dem wissenschaftliche Arbeiten aus Naturwissenschaften und Technik kostenlos veröffentlicht werden können. Dieses Konzept nennt man Open Access. Das bedeutet, dass alle Menschen kostenlos auf die Wissenschaft zugreifen können. Alle Autor*innen können ihre Arbeiten hier hochladen. </p>
  <p class="mat-body-1"> Die Technische Informationsbibliothek (TIB) betreibt dieses Repositorium.</p>
  <p class="mat-body-1"> Die Arbeiten, die ins Repositorium hochgeladen werden, sind überall auf der Welt jederzeit kostenlos zugänglich und können zitiert werden.</p>
  <p class="mat-body-1">Die TIB sorgt dafür, dass die Arbeiten im Repositorium auf lange Sicht zugänglich und auffindbar bleiben. Sie garantiert auch, dass die Arbeiten zitiert werden können. Dafür kann es notwendig sein, die Dokumente in andere technische Formate zu übertragen oder sie auf andere Server zu verteilen.</p>
    <p class="mat-body-1">Bei der Verwaltung und Weiterentwicklung des Repositoriums berücksichtigt die TIB Empfehlungen und Standards von nationalen und internationalen Organisationen, wie der Deutschen Initiative für Netzwerkinformation (DINI) und der Open Archives Initiative (OAI).</p>
  </section>


